.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 200px;
}
.login-form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input__login-form {

}